@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;

    padding: 0;
    box-sizing: border-box;
}

body {
    background: #282A36; /* COR DO FUNDO DA TELA */
    color: white;        /* COR DAS LETRAS */
    font-family: 'Nunito', sans-serif; /* FONTE EXTERNA , PARA A PÁGINA TODA */
}

/* CABEÇALHO: */
.header {
    height: 16vh;

    display: flex;
    align-items: center;
    
    border-bottom: 1px solid blue;
}
.name h1 {
    font-size: 40px;
}
.name h5 {
    font-size: 24px;

    display: flex;
    justify-content: center;
}


.image_logo img {
    
    height: 50px;
    padding: 8px;
}

.menu {
    flex: 1; /* para se expandir e ocupar todo o espaço restante; */

    display: flex;
    justify-content: center;

}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;

    margin: 16px;

}

.menu a:hover {
    border-bottom: 1px solid blue;
}








/*Botões: */
.button-concluded {
    background-color: rgba(0, 0, 0, 0.1);
    color: green;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    
}

.button-studying {
    background-color: rgba(0, 0, 0, 0.1);
    color: dodgerblue;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

/* ==== RODAPÉ: ==== */
.footer {
    margin-top: 24px;
    text-align: center;
}


.social img {
    margin-top: 8px;
    margin-left: 18px;
    margin-right: 18px;
    height: 26px;
}

.social img:hover {
    cursor: pointer;
    border: 1px solid green;
}


/* ==== MAIN: ==== */
.main {
    display: flex;
    flex-direction: column;
    
    
    
}



.information-project {
    padding: 8px;

    display: flex;
    flex-direction: column;

    gap: 16px;


}

.images-project {
    margin: 16px;
}

.images-project img {
    width: 100%;
}

.title-project, .description-project, .tecnology-project, .function-project, .status-projeto {
    text-align: center;
}

