.post-container {
    
}

.post-header {
    
}

.post-footer {

}

.user-photo {

}

.post-photo {
    
}

.post-container span {
    display: flex;
    align-items: center;
    justify-content: center;

    color: blue;
    font-weight: bold;
}

.compartilhar {

}